.vue-flow__node .workflow-node {
  background-color: black !important;
  cursor: grab !important;
  display: flex !important;
  justify-content: start !important;
  align-items: center !important;
  gap: 10px !important;
  width: fit-content !important;
  max-height: fit-content !important;
  border-radius: 10px !important;
  padding: 10px !important;
  border: 1px solid #9c71fc !important;
  position: relative !important;
  z-index: 100 !important;
}

.vue-flow__node .workflow-node .content {
  height: fit-content !important;
}
.vue-flow__node .workflow-node .content .title {
  max-height: fit-content !important;
  font-weight: 500 !important;
  color: #9c71fc !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  margin-bottom: 10px !important;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5) !important;
}

.vue-flow__node .workflow-node .content .description {
  margin-top: 8px;
  font-size: 14px !important;
  font-weight: 400;
  color: #9c71fc !important;
  max-height: fit-content !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5) !important;
}
.vue-flow__node .workflow-node .content .highlighted {
  font-size: 14px !important;
  color: #8e96a8 !important;
  font-weight: 500;
  max-height: fit-content !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
